# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript cache
*.tsbuildinfo

# Node.js dependency directories
node_modules/

# Firebase cache
.firebase/

# Firebase debug log
firebase-debug.log
firebase-debug.*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock
